<li id="post-<%= i._id %>">
    <div class="details">
        <div id="usernames">
            <a href="/users/profile/<%= i.user.id %>">
                <%= i.user.name %>
            </a>
        </div>
        <p>
            <% if(locals.user && locals.user.id==i.user.id){ %>
            <small>
                <a class="delete-post-button" href="/posts/destroy/<%= i.id %>">X</a>
            </small>
            <% } %>
            <%= i.content %></p>
            <div class="post-comments">
                <form action="/comment/create" id="post-<%= i._id %>-comments-form" method="POST">
                    <input type="text" name="content" placeholder="your comment...">
                    <input type="hidden" name="post" value="<%= i._id %>">
                    <input type="submit" value="comment">
                </form>
            </div>
        
        <div class="post-comment-list">
            <ul id="post-comments--<%=i._id%>">
                <% for (comment of i.comments){%>
                   <%- include('_comment') -%> 
                
                <%} %>
            </ul>
        </div>
    </div>
</li>