<link rel="stylesheet" href="/css/home.css">

<div id="home-container">
    <section id="feed-posts" >
        <h4>Posts</h4>
        <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="POST">
            <textarea name="content" cols="30" rows="3"></textarea>
            <input type="submit" value="Post">
        </form>
        <%} %>
        <div id="post-container">
            <ul >
                <% for(i of post_view){%>
                    <div id="usernames">
                        <a href="/users/profile/<%= i.user.id %>">
                            <%= i.user.name %>
                        </a>
                    </div>
                <%- include('_post') -%>
                
                <% } %>
            </ul>
        </div>
    </section>

    <section id="user_friends">
        <h4>Friends</h4>
        <% for(u of all_users){ %>
            <p>
                <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
            </p>
        <% } %>
    </section>
</div>
        